/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tsukimi+Rounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Tsukimi+Rounded:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --DARKBURGUNDY: rgb(106,5,62);
    --MAGENTA: rgb(224,27,132);
    --LIGHTERMAGENTA: rgb(234, 100, 172);

    --LIGHTERBLUE: rgb(204, 242, 255);
    --LIGHTBLUE: rgb(79,195,220);
    --BLUE: rgb(27,62,150);
    --DARKBLUE: rgb(23,51,89);
    --BLACK: rgb(8,3,5);
    --WHITE: rgb(254, 254, 250);


    /* FONTS */
    --FONT: 'Lato', sans-serif;
    --FONT2: 'Tsukimi Rounded', sans-serif;
    --FONT3: 'Montserrat', sans-serif;

    font-family: var(--FONT3);
    
}

